import styles from './{{pascalCase name}}.module.css'

const {{pascalCase name}} = () => (
  <div className={styles.style}>
    <h1>{{pascalCase name}}</h1>
  </div>
)

export default {{pascalCase name}}